.new-note-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.back-btn {
  font-size: larger;
  color: #0d6efd;
  background-color: #ffffff;
  border: none;
}

.delete-btn {
  background-color: #ffffff;
  color: #ff0000;
  border: 2px solid #ff0000;
  border-radius: 5px;
}

.custom-textarea {
  flex: 1;
  resize: none;
}
